my-carousel {
    width: 800px;
    height: 560px;
    max-width: 100%;
    max-height: 100vh;
    margin: 0 auto;
}
.carousel{
    position: absolute !important;
}
.carousel .carousel-main img {
    position: absolute !important;
    top: -9999px;
    right: -9999px;
    bottom: -9999px;
    left: -9999px;
    margin: auto;
    min-width: 0%  !important;
    min-height: 0%  !important;
    z-index: 11;
    /* width: 100px; */
    /* height: 100px; */
}

.carousel .carousel-main{
    background: #ccc !important;
}