.Main {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.Layout {
    width: 400px;
    display: block;
    margin-left: 350px;
    margin-right: auto;
    box-shadow: 10px 10px 18px 3px rgba(0,0,0,1);
}

.Paper {
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 24px 24px;
}

.Avatar {
    margin: 24px;
    background-color: #f50057;
}

.Form {
    width: 100%;
    margin-top: 8px;
}

.Submit {
    margin-top: 24px;
}

.text {
    color: #637376
}

.text:link {
    text-decoration: none;
}

.text:hover {
    text-decoration: underline;
}